<!DOCTYPE html>
@*@model РикконсалтингASP.ViewModels.Register.LoginViewModel*@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Style.css" rel="stylesheet" />


</head>
<body>
    @*<img src="~/img/header-slider-bg.png" alt="" />*@
    <header>
        <div class="container-fluid">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light rounded" style="background: #f4c430">
                @*fixed-top  box-shadow mb-3*@

                @*<div class="container-fluid">*@
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" asp-area="" asp-controller="Start" asp-action="Index">
                        РикКонсалтинг
                        @*<img src="~/img/logo3.png" alt="">*@
                    </a>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        @*<ul class="navbar-nav mr-auto mt-2 mt-md-0">
                            <li class="nav-item active">
                            <a class="navbar-brand" asp-area="" asp-controller="Сотрудник" asp-action="Главная">Сотр <span class="sr-only">(current)</span></a>
                        </li>*@
                        @*<li class="nav-item active">
                            <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Вход <span class="sr-only">(current)</span></a>
                        </li>*@
                            @*<li class="nav-item active">
                                <a class="navbar-brand" asp-area="" asp-controller="СотрудникиController1" asp-action="AllSotrudnik1">Сотрудники <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#!">Link</a>
                            </li>*@
                        </ul>
                    </div>

                    <div class="nav navbar-nav navbar-toggler-right" id="navbarTogglerDemo02">
                        @*ml-auto mr-lg-2*@

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="row">

                                <div class="col-md-8">
                                    <p class="help-block">@User.Identity.Name</p>
                                </div>
                                @*text-lg-right"*@
                                <div class="col-md-4">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <input type="submit" class="btn-info" value="Выход" />
                                    </form>
                                </div>


                            </div>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" asp-ant>Вход</a>
                            @*<p>/</p>
                        <a asp-controller="Account" asp-action="Register">Регистрация</a>*@
                        }
                    </div>



                @*</div>*@
            </nav>
        </div>

    </header>
    @*<img src="~/img/header-slider-bg.png" alt="" />*@
    <div class="block">
        <div class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <main role="main" @*class="mt-5"*@>
                    @RenderBody()
                </main>
            }
            else
            {
                <main role="main" class="mt-5">
                    @RenderBody()
                </main>
            }


        </div>
    </div>

    @*<div id="categories" class="col-xs-3">
            @Html.Action("Menu", "Nav")  Menu - это IAction. Nav - это контроллер
        </div>*@




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Рикконсалтинг - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)    
</body>


@*<style>
        .left {
            background-image: url('~/img/header-slider-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
        }
    </style>*@
</html>

